{  "openapi": "3.0.0",  "info": {    "title": "뿌리삼",    "description": "AI를 사용하여 이미지를 생성하고, 생성한 이미지를 문자로 전송하는 서비스",    "version": "1.0.0"  },  "servers": [    {      "url": "https://api.root3.com/v1",      "description": "Production server"    }  ],  "paths": {    "/generate-image": {      "post": {        "summary": "이미지 생성",        "description": "AI 모델을 활용하여 사용자가 요청한 조건에 맞는 이미지를 생성합니다.",        "requestBody": {          "required": true,          "content": {            "application/json": {              "schema": {                "type": "object",                "properties": {                  "text": {                    "type": "string",                    "description": "이미지 생성을 위한 텍스트 또는 키워드"                  },                  "style": {                    "type": "string",                    "enum": ["realistic", "cartoon", "abstract"],                    "description": "이미지 스타일 (예: 사실적, 만화체, 추상적)"                  }                },                "required": ["text"]              }            }          }        },        "responses": {          "200": {            "description": "이미지 생성 성공",            "content": {              "application/json": {                "schema": {                  "type": "object",                  "properties": {                    "image_url": {                      "type": "string",                      "description": "생성된 이미지의 URL"                    }                  }                }              }            }          },          "400": {            "description": "잘못된 요청"          },          "500": {            "description": "서버 내부 오류"          }        }      }    },    "/send-mms": {      "post": {        "summary": "문자 전송",        "description": "생성된 이미지를 사용자의 휴대폰으로 문자 메시지로 전송합니다.",        "requestBody": {          "required": true,          "content": {            "application/json": {              "schema": {                "type": "object",                "properties": {                  "image_url": {                    "type": "string",                    "description": "전송할 이미지의 URL"                  },                  "phone_number": {                    "type": "string",                    "description": "수신자 휴대폰 번호"                  }                },                "required": ["image_url", "phone_number"]              }            }          }        },        "responses": {          "200": {            "description": "문자 전송 성공",            "content": {              "application/json": {                "schema": {                  "type": "object",                  "properties": {                    "status": {                      "type": "string",                      "enum": ["success", "failed"],                      "description": "전송 상태 (성공/실패)"                    }                  }                }              }            }          },          "400": {            "description": "잘못된 요청"          },          "500": {            "description": "서버 내부 오류"          }        }      }    }  },  "components": {    "schemas": {      "Error": {        "type": "object",        "properties": {          "message": {            "type": "string",            "description": "에러 메시지"          }        }      }    }  }}